/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea/*
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
!/.idea/laravel-plugin.xml
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/scripts/*
/public/styles/*
/public/fonts/*
/public/adminer
_ide_helper.php
package-lock.json
TODO.md